# Week - 1

Write a program to generate Association Rules using the Apriori algorithm.

In [1]:
import pandas as pd
import numpy as np

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
dataset = [['Pizza','Burgur','Ice CReam','Ketch up'],
 ['Pizza','Burgur'],
 ['Pizza','Coke','Garlic Bread'],
 ['Garlic Bread','Coke'],
 ['Garlic Bread','Ketchup'],
 ['Pizza','Coke','Ice cream','Ketchup']]

In [3]:
tf = TransactionEncoder()

In [4]:
tf_encode = tf.fit_transform(dataset)
tf_encode

array([[ True, False, False,  True, False,  True, False,  True],
       [ True, False, False, False, False, False, False,  True],
       [False,  True,  True, False, False, False, False,  True],
       [False,  True,  True, False, False, False, False, False],
       [False, False,  True, False, False, False,  True, False],
       [False,  True, False, False,  True, False,  True,  True]])

In [5]:
columns = tf.columns_
print(columns)

['Burgur', 'Coke', 'Garlic Bread', 'Ice CReam', 'Ice cream', 'Ketch up', 'Ketchup', 'Pizza']

In [6]:
df = pd.DataFrame(tf_encode, columns = columns)
df

   Burgur   Coke  Garlic Bread  Ice CReam  Ice cream  Ketch up  Ketchup  Pizza
0    True  False         False       True      False      True    False   True
1    True  False         False      False      False     False    False   True
2   False   True          True      False      False     False    False   True
3   False   True          True      False      False     False    False  False
4   False  False          True      False      False     False     True  False
5   False   True         False      False       True     False     True   True

In [7]:
famous_items = apriori(df, min_support = 0.2, use_colnames = True)
famous_items

    support              itemsets
0  0.333333              (Burgur)
1  0.500000                (Coke)
2  0.500000        (Garlic Bread)
3  0.333333             (Ketchup)
4  0.666667               (Pizza)
5  0.333333       (Burgur, Pizza)
6  0.333333  (Coke, Garlic Bread)
7  0.333333         (Coke, Pizza)

In [8]:
association_rules(famous_items, metric='lift')

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Burgur),(Pizza),0.333333,0.666667,0.333333,1.000000,1.500000,0.111111,inf,0.5
1,(Pizza),(Burgur),0.666667,0.333333,0.333333,0.500000,1.500000,0.111111,1.333333,1.0
2,(Coke),(Garlic Bread),0.500000,0.500000,0.333333,0.666667,1.333333,0.083333,1.500000,0.5
3,(Garlic Bread),(Coke),0.500000,0.500000,0.333333,0.666667,1.333333,0.083333,1.500000,0.5
4,(Coke),(Pizza),0.500000,0.666667,0.333333,0.666667,1.000000,0.000000,1.000000,0.0
5,(Pizza),(Coke),0.666667,0.500000,0.333333,0.500000,1.000000,0.000000,1.000000,0.0